@page "/about"

<PageTitle>Tutorica | About</PageTitle>

<h1 class="page_header">О компании</h1>
<div class="page_content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam id leo in vitae turpis massa sed elementum tempus. In vitae turpis massa sed elementum tempus. Erat velit scelerisque in dictum non consectetur a. Et ultrices neque ornare aenean euismod elementum nisi. Semper feugiat nibh sed pulvinar proin. <br> 675 Finchley Road, London NW2 2JP England <br> +44 20 7794 8899 <br> tutorica@gmail.com</p>

<Feedback />

</div>