@page "/"

<PageTitle>Tutorica | Home</PageTitle>

<h1 class="page_header">Добро пожаловать на сайт базы учебных заведений</h1>
<div class="page_content"><p>Для добавления заведения перейдите в раздел "<a href="/adduni">Добавить УЗ</a>"</p></div>
