@using Newtonsoft.Json;
@inject IConfiguration configuration
@inject HttpClient http
@inject NavigationManager NM

<form>
  <div class="form-group">
    <label for="fnln">Имя и фамилия</label>
    <input type="text" class="form-control" id="fnln" aria-describedby="fnln" placeholder="Имя и фамилия" required
    @bind="fnln">
  </div>

  <div class="form-group">
    <label for="uniName">Наименование ВУЗа</label>
    <input type="text" class="form-control" id="uniName" aria-describedby="uniName" placeholder="Минский государственный лингвистический университет" required
    @bind="item.name">
  </div>

   <div class="form-group">
    <label for="phoneNumber">Номер телефона приемной</label>
    <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneNumber" placeholder="222-333-4444" required
    @bind="item.phoneNumber">
  </div>


  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email" required
  @bind="item.email">
  </div>

  <div class="form-group">
    <label for="description">Описание направлений обучения</label>
    <textarea class="form-control" id="description" rows="5" required
    @bind="item.description">
    </textarea>
  </div>

  <div class="form-group">
    <label for="years">Лет с момента аккредитации</label>
    <input type="text" class="form-control" id="years" aria-describedby="years" placeholder="20" required
    @bind="item.years">
  </div>

  <div class="form-group">
    <label for="investmentUSD">Объем инвестиций USD</label>
    <input type="text" class="form-control" id="investmentUSD" aria-describedby="investmentUSD" placeholder="1000" 
    @bind="item.investmentUSD">
  </div>

   <div class="form-group">
    <label for="course">Курс</label>
    <input type="text" class="form-control" id="course" aria-describedby="course" placeholder="23,50" readonly
    @bind="item.course">
  </div>

  <div class="form-group">
    <label for="investmentUAH">Оборот в UAH</label>
    <input type="text" class="form-control" id="investmentUAH" aria-describedby="investmentUAH" placeholder="23500" readonly
    value="@calculateInvestmentUAH()">
  </div>

  <button type="submit" class="btn btn-primary sendbtn" @onclick="submitForm" @onclick:preventDefault>Submit</button>
</form>

<div class="alert alert-danger" role="alert" style="margin-top: 20px; @displayStyle">
  Запрещено размещать объявления о ВУЗах, прошедших аккредитацию более 15 лет назад
</div>

@code {
  Item? item;
  string? fnln;
  Course? course;
  string? displayStyle;
 
  protected override void OnInitialized() {
    this.item = new Item();

    displayStyle = "display: none";
  }

  protected override async Task OnInitializedAsync () {
    String jsonString = await http.GetStringAsync(configuration["backServer"] + "/getcourse");
    this.course = JsonConvert.DeserializeObject<Course>(jsonString);
      
      this.item.course = this.course.course;
      calculateInvestmentUAH();
  }

  public float calculateInvestmentUAH() {
    this.item.investmentUAH = this.item.investmentUSD * this.item.course;
    return this.item.investmentUAH;
  }

  protected async Task submitForm() {

    if (this.item.years < 15) {

    string[] clientFNLN = this.fnln.Split(" ");

    this.item.firstName = clientFNLN[0];
    this.item.lastName = clientFNLN[1];

    await http.PostAsJsonAsync(configuration["backServer"] + "/university", this.item);

    NM.NavigateTo("/unislist");
  }
  else {
    displayStyle = "display: block";
  }
 }
}