<footer>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="page_rooler"><hr/></div>
      <div class="page_footer">
        <p>Tutorica 2022</p>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</footer>
