<header>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
          <a href="/"><img src="./img/logo.png"></a>
        </div>
        <div class="col-8">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav main-menu">
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="/">Главная</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="/adduni">Добавить УЗ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="/unislist">Список УЗ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menu-item" href="/about">О компании</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-1"></div>
      </div>
</header>