@inherits LayoutComponentBase

<div class="container">

    <Header />

    <main>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
    @Body

    </div>
        <div class="col-1"></div>
      </div>
    </main>
    
    <Footer/>
</div>